@import "tailwindcss";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
}


.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.widget ul {
  list-style: none;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
  margin: 0;
  padding-left: 20px;  
}

.widget li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #1f1f1f;
  gap: 10px;
  width: auto;
  max-width: 400px;
  overflow: hidden;
}

.widget li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.widget li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.widget li span {
  font-size: 1rem;
  color: #ccc;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

