@import "tailwindcss";

body {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.dashboard-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.widget {
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  width: 48%;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 400px;
  margin-bottom: 20px;
  height: 500px;
  overflow: hidden;
}

.widget h2 {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 10px;
}

.widget input, .search-input, .decade-dropdown {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 20px;
}

.search-input::placeholder, .decade-dropdown::placeholder {
  color: #bbb;
}

.decade-dropdown {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.decade-dropdown option {
  background-color: #333;
  color: #fff;
}

.decade-dropdown:hover {
  background-color: #444;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.widget ul::-webkit-scrollbar {
  display: none;
}

.widget li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #2c2c2c;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.widget li.selected {
  background-color: #333;
}

.widget li img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 15px;
}

.widget li div {
  display: flex;
  flex-direction: column;
}

.widget li div span {
  color: #ccc;
  font-size: 1rem;
}

.widget li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.widget2 {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a la izquierda y derecha */
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.inputs-container {
  width: 48%;  /* Ajusta el ancho de los controles */
}

.results-container {
  width: 48%;  /* Ajusta el ancho de los resultados */
  padding-left: 20px;
}

.widget2 label {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 5px;
  display: block;
}

.widget2 input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

.widget2 select {
  width: 100%;
  margin-bottom: 20px;
}

.widget2 button {
  padding: 12px;
  background-color: #00b894;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.widget2 button:hover {
  background-color: #009e7e;
}

.widget2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.widget2 li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #2c2c2c;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.widget2 li img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 15px;
}

.widget2 li div {
  display: flex;
  flex-direction: column;
}

.widget2 li div span {
  color: #ccc;
  font-size: 1rem;
}

.widget2 li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
