@import "tailwindcss";

body {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.dashboard-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.widget {
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  width: 48%;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 400px;
  margin-bottom: 20px;
  height: 500px;
  overflow: hidden;
}

.widget input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
}

.search-input::placeholder {
  color: #bbb;
}

.decade-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.decade-selector label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: #ccc;
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.widget ul::-webkit-scrollbar {
  display: none;
}

.widget li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #2c2c2c;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.widget li.selected {
  background-color: #333;
}

.widget li img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 15px;
}

.widget li div {
  display: flex;
  flex-direction: column;
}

.widget li div span {
  color: #ccc;
  font-size: 1rem;
}

.widget li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
